{% set offset = 4 %}
{% set login = 0 %}
{% if app.user is not null %}
    {% set login = 1 %}
    {% if app.user.player is not null %}
        {% set offset = 2 %}
    {% endif %}
{% endif %}

{% extends 'CoreBundle:Parts:base.html.twig' %}
{% block title %}Index - {{ parent() }}{% endblock %}

{% block nav %}
	{% include 'CoreBundle:Parts:nav.html.twig' %}
{% endblock %}

{% block body %}
<div class="center-align grey darken-3">
	<h1 class="white-text">Bienvenue</h1>
</div>

<div class="parallax-container"> 
	<div class="parallax"> 
		<img src="{{ asset('images/Love-Letter-Header-cut.jpg') }}"> 
	</div> 
</div>
 
<div class="grey darken-3">
	<div class="row">
		<div class="col l4 offset-l{{ offset }} m12 center-align">
			<h3 class="white-text">Liste des lobby</h3>
			<div class="col l4 offset-l4 s8 offset-s2 grey darken-4 card-panel" id="liste">
	            {% for lobby in lobbies if lobby.gameId is null %}
					<a href="{{ path('core_lobby_adduser', {'lobbyId': lobby.id})}}">Lobby de {{ lobby.hostUsername }}</a>
					<br>
				{% else %}
					<p class="blue-text">Aucun lobby disponible</p>
	            {% endfor %}
	        </div>
   		 </div>
   		 {% if login == 1 and offset == 2 %}
   		 <div class="col l4 m12 center-align">
			<h3 class="white-text">Partie en cours</h3>
			<p><a class="btn blue waves-effect waves-light" href="{{ path('loveletter_default_view', {'id': app.user.player.game.id}) }}"><i class="material-icons right">settings_backup_restore</i>Reprendre la partie</a></p>
			<p><a class="btn red waves-effect waves-light" href="{{ path('loveletter_default_quit') }}"><i class="material-icons right">clear</i>Quitter la partie</a></p>
    		</div>
    		{% endif %}
    </div>
</div>

<div class="parallax-container"> 
	<div class="parallax"> 
		<img src="{{ asset('images/Love-Letter-Cards-mod.jpg') }}"> 
	</div> 
</div>

<div class="grey darken-3 center-align">
	<div class="row">
		<div class="col s12">
			<h3 class="white-text">Créer une partie</h3>
		</div>
        	<div class="col l4 offset-l4 s8 offset-s2 grey darken-4 card-panel" id="liste">
            	<a href="{{ path('core_lobby_createlobby', {'nb': 2}) }}">Nouvelle partie 2 joueurs</a>
            	<br>
            	<a href="{{ path('core_lobby_createlobby', {'nb': 3}) }}">Nouvelle partie 3 joueurs</a>
            	<br>
            	<a href="{{ path('core_lobby_createlobby', {'nb': 4}) }}">Nouvelle partie 4 joueurs</a>
		</div>
		{% if games|length > 0 %}
			<div class="col s12">
				<h3 class="white-text">Historique des parties</h3>
			</div>
        		<div class="col l4 offset-l4 s8 offset-s2 grey darken-4 card-panel" id="liste">
        		{% for game in games %}
        		<a href="{{ path('loveletter_default_viewended', {'id': game.id}) }}">Partie {{ game.id }}</a>	
        		<br>
        		{% endfor %}
        		</div>
		{% endif %}
    	</div>
    	<br>
</div>


{% endblock %}

{% block footer %}
	{% include 'CoreBundle:Parts:footer.html.twig' %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/Index.js') }}"></script>
{% endblock %}
