<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/materialize/css/materialize.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}" />
    </head>
    <body>
    	<header>
    		{% block header %}{% endblock %}
    	</header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer>
        	<div class="card-panel center pink darken-4">Love Letter</div>
        </footer>
    </body>
</html>
