{% if card.isVisible %}
    <img src="{{ asset(card.getimageUrl()) }}" alt="{{ card.getEffect() }}" 
    class="tooltipped shadow" data-position="{{ posToolTip }}" data-delay="50" 
    data-tooltip="{{ card.getEffect() }}" height="{{ heightCard }}"/>
{% else %}
    <img src="{{ asset('images/Cards/Back.jpg') }}" alt="Carte cachée"  class="tooltipped shadow" data-position="{{ posToolTip }}" data-delay="50" data-tooltip="Carte cachée" height="{{ heightCard }}"/>
{% endif %}