{# Si c'est au tour du joueur #}
{% if game.getCurrentPlayer.id == idPlayer and game.getCurrentPlayer.getIsDraw() %}

{% set hasModal = "" %}
{% if card.type == 1 or card.type == 2 or card.type == 3 or card.type == 5 or card.type == 6 %}
{% set hasModal = 1 %}
{% endif %}

{# Le formulaire hidden pour jQuery #}
<form action="{{ path('loveletter_default_playcard', {'id' : game.id}) }}" method="post" id="form{{ idModal }}">
	{% if hasModal == 1 %}
        <input type="hidden" name="selectedPlayer" id="selectedPlayerField{{ idModal }}">
        {% if card.type == 1 %}
        <input type="hidden" name="selectedCard" id="selectedCardField{{ idModal }}">
        {% endif %}
	{% endif %}
	<input type="hidden" name="cardId" value="{{ card.id }}">
</form>

{# Le modal si besoin #}
{% if hasModal == 1 %}
<div id="modal{{ idModal }}" class="modal">
	<div class="modal-content">
		<h4>Jouer {{ card.getName() }}</h4>
		<div class="input-field">
			<select id="playerSelect{{ idModal }}">				 
				{# Liste des joueur Avoir les bonnes flèches #}
				{% set hasTarget = "" %}
				{% for player in game.players if player.id != idPlayer and not player.isProtected and player.isInRound %}
				{% set hasTarget = 1 %}
				<option value="{{ player.id }}">{{ player.getUsername }}</option>
				{% endfor %}
				
				{# Ajoute vous si Prince #}
                {% if card.type == 5 %}
                	{% set hasTarget = 1 %}
				<option value="{{ idPlayer }}">Vous</option>
				{% endif %}
				
				{# Si pas de cible #}
				{% if not hasTarget %}
				<option value="-1">Aucune cible possible</option>
				{% endif %}
				

			</select> 
			<label>Choissisez un adversaire</label>
		</div>

		{% if card.type == 1 %}
		<div class="input-field">
			<select id="cardSelect{{ idModal }}">
				<option value="2" data-icon="{{ asset('images/Cards/2 - Priest.jpg') }}" class="left circle">Priest</option>
				<option value="3" data-icon="{{ asset('images/Cards/3 - Baron.jpg') }}" class="left circle">Baron</option>
				<option value="4" data-icon="{{ asset('images/Cards/4 - Handmaid.jpg') }}" class="left circle">Handmaid</option>
				<option value="5" data-icon="{{ asset('images/Cards/5 - Prince.jpg') }}" class="left circle">Prince</option>
				<option value="6" data-icon="{{ asset('images/Cards/6 - King.jpg') }}" class="left circle">King</option>
				<option value="7" data-icon="{{ asset('images/Cards/7 - Countess.jpg') }}" class="left circle">Countess</option>
				<option value="8" data-icon="{{ asset('images/Cards/8 - Princess.jpg') 
				}}" class="left circle">Princess</option>
			</select>
			<label>Choissisez une carte</label>
		</div>
		{% endif %}
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat" id="submittModal{{ idModal }}" onclick="isCurrentPlayer({{ card.type }}, {{ idModal }})">Jouer</a>
	</div>
</div>
{% endif %}

{# Afficher la carte #}
{% if hasModal %}
<a class="modal-trigger" href="#modal{{ idModal }}">
{% else %}
<a href="#" id="submittModal{{ idModal }}">
{% endif %}

{# Si ce n'est pas au joueur de jouer#}
{% elseif game.getCurrentPlayer.id != idPlayer %}
<a onclick="toastNotPlayerTurn()">
{% else %}
<a onclick="toastNotDraw()">
{% endif %}
<img src="{{ asset(card.getimageUrl()) }}" alt="{{ card.getEffect() }}"
class="tooltipped shadow" data-position="top" data-delay="50" data-tooltip="{{ card.getEffect() }}" 
height="{{ heightCard }}"/>
</a>