<style>
	#hand a img{
		height: {{ heightCardPrinc/100*120 }}px;
	}
</style>

<div id="dashboard" class="flexBetween">
    <div>
        <div class="name centrer flexArround">  
            <div class="card blue lighten-2 centrer nameCard">{{ game.getPlayerById(idPlayer).getUsername() }}
                {% if game.getPlayerById(idPlayer).isProtected %}
                    <div class="card green lighten-2">
                    Protégé
                    </div>
                {% endif %}
            </div>
        </div>
    	<div id="player" class="flex">
        	<div id="hand" class="flex">
        		{%  set modalCount = 1 %}
            	{% for c in game.getPlayerCards(idPlayer) if not c.isPlayed %}
            	{{ include('LoveLetterBundle:Game:cardWithModal.html.twig', { 'idModal' : modalCount, 'card': c, 'idPlayer': idPlayer }) }}
    	        {%  set modalCount = modalCount + 1 %}
            	{% endfor %}
            </div>
       
            <div>
                <div class="card blue lighten-2 centrer decal">Cartes jouées</div>
                <div id="playCards" class="border">
                	{% for c in game.getPlayerCards(idPlayer) if c.isPlayed %}
                	{{ include('LoveLetterBundle:Game:card.html.twig', { 'card': c, 'idPlayer': idPlayer, 'posToolTip' : 'top' }) }}
                	{% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="flex">
        	<div class="flexCenter">
        		<p class="borderBlack backColor centrer">Tableau des scores</p>
            	<div class="flexBetween">
            	{% for p in game.getPlayers() %}
                	<div class="{% if game.getCurrentPlayer().getId() == p.getId() %}current{% endif %}{% if not p.getIsInRound() %} elim{% endif %} player centrer borderBlack backColor">
            		<p {% if p.getId() == idPlayer %}class="boldFont"{% endif %}>{{ p.getUsername() }}</p>
            		<p class="centrer">{{ p.getScore() }}</p>
            	    </div>
        	    {% endfor %}
        	   </div>
            </div>
        <div id="history">
        {% for i in game.getHistorySize()-1..0 %}
        	{% set histo = game.getHistory() %}
        	{% autoescape false %}
        	{{ histo[i].toString() }}</br>
        	{% endautoescape %}
        {% endfor %}
    	</div>
	</div>
</div>