<style>
	.lastCard + .lastCard{
	margin-left: -{{ heightCardPrinc/100*70 }}px;
	}
	
	#remove img{
		height: {{ heightCardPrinc }}px;
	}
</style>

<div id="setGame">
	<div id="remove" class="centrer">
		{% for card in deck.removed %}
   			{{ include('LoveLetterBundle:Game:card.html.twig', { 'card': card, 'posToolTip' : 'bottom' }) }}
        {% endfor %}
    </div>
    </br>
    {% if not game.EmptyDeck %}
    	    {% if game.currentPlayer.id == idPlayer and not game.getCurrentPlayer.getIsDraw() %}
        		<a href="{{ path('loveletter_default_draw', {'id': game.id}) }}">
        {% elseif game.getCurrentPlayer.id != idPlayer %}
        		<a onclick="toastNotPlayerTurn()">
        {% else %}
        		<a onclick="toastIsDraw()">
        {% endif %}
            <div id="deck" class="centrer tooltipped" alt="Pioche: {{ deck.deck|length }} cartes restantes" data-position="bottom" data-delay="50" data-tooltip="Pioche: {{ deck.deck|length }} cartes restantes" >
                {% for i in 0..deck.deck|length -1%}
               		<img class="lastCard shadow" src="{{ asset('images/Cards/Back.jpg') }}" height="{{ heightCardPrinc }}"/>	
                {% endfor %}
            </div>   
        </a>
    {% else %}
    	<div class="centrer">
    	<img class="lastCard tooltipped" src="{{ asset('images/Cards/EmptyDeck.jpg') }}" alt="Pioche vide !" data-position="bottom" data-delay="50" data-tooltip="Pioche vide !" height="{{ heightCardPrinc }}"/>
    	</div>
    {% endif %}
</div>