<div class="opponent">

	<div class="cards centrer">
		{% for c in game.PlayerCards(idOtherPlayer) %}
		    {% if not c.isPlayed or (game.getPlayerById(idOtherPlayer).getIsInRound() and not c.isPlayed) %}
		    	<div class="cardView">
		        {{ include('LoveLetterBundle:Game:card.html.twig', { 'card': c,  'posToolTip' : posToolTip }) }}
		        </div>		        
		    {% endif %}
		{% endfor %}
	</div>

	<div class="name centrer flexArround">	
		<div class="card blue lighten-2 centrer">{{ game.getPlayerById(idOtherPlayer).getUsername() }}
		{% if game.getPlayerById(idOtherPlayer).isProtected %}
		<div class="card green lighten-2">
		Protégé
		</div>
		{% endif %}
		</div>
	</div>

	<div class="playCard flex">
		{%  for c in game.getPlayerCards(idOtherPlayer) %}
		    {% if c.isPlayed %}
		   		<div class="cardView">
		        {{ include('LoveLetterBundle:Game:card.html.twig', { 'card': c, 'posToolTip' : posToolTip }) }}
		        </div>
		    {% endif %}
		{% endfor %}
	</div>
</div>