#liste {
    padding-top: 20px;
    padding-bottom: 20px;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.parallax-container {
	height: 300px;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
    justify-content:space-between;
}

main {
    /*flex: 1 0 auto;*/
    margin-top: auto;
    margin-bottom: auto;
}

#history{
    height: 150px;
    width: 400px;
    overflow: auto;
    margin: 10px;
    background-color: #AAAAAA;
    padding: 10px;
    padding-top: 0px;
    border: 6px #555555 double;
    border-radius: 10px;
    text-align: left;
}