{% extends 'CoreBundle:Parts:base.html.twig' %}
{% block title %}Lobby - {{ parent() }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}" />
{% endblock %}

{% block nav %}
{% include 'CoreBundle:Parts:nav.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
    {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
{% include 'CoreBundle:Parts:footer.html.twig' %}
{% endblock %}