<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{% block title %}LoveLetter{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('css/materialize.min.css') }}" />
			<link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('fonts/material-icons.css') }}" />
    </head>
    	<body>
    	
    	<header>
    	{% block nav %}{% endblock %}
    	</header>

	<main>
	<div id="divNotice" style="display: none;">
        {% for flashMessage in app.flashes('notice') %}
        		<div>{{ flashMessage }}</div>
        {% endfor %}
        {% block flash %}{% endblock %}
    	</div>
	
	{% block body %}{% endblock %}
	</main>
	
	{% block footer %}{% endblock %}
    
	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/materialize.js') }}"></script>
		<script type="text/javascript">
	    $( document ).ready(function(){
	    		$(".button-collapse").sideNav();
		    });
		</script>
	{% endblock %}

    </body>
</html>
