<nav>
	<div class="nav-wrapper grey darken-4">
		<a href="{{ path('core_index_index') }}" class="brand-logo">Love Letter</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="{{ path('core_index_index') }}">Accueil</a></li>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<li><i class="material-icons left">perm_identity</i>{{ app.user.username }}</li>
				<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
			{% else %}
				<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
				<li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
			{% endif %}
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="{{ path('core_index_index') }}">Accueil</a></li>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<li><a><i class="material-icons left" class="collapse">perm_identity</i>{{ app.user.username }}</a></li>
				<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
			{% else %}
				<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
				<li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
			{% endif %}
		</ul>
	</div>
</nav>