{% extends 'CoreBundle:Parts:base.html.twig' %}
{% block title %}Lobby - {{ parent() }}{% endblock %}

{% block nav %}
{% include 'CoreBundle:Parts:nav.html.twig' %}
{% endblock %}

{% block body %}
<div class="container">
	<h1>Lobby {{ lobby.id }}</h1>
	{% if lobby.gameId == null %}
        	<p>Hôte : {{ lobby.hostUsername }}</p>
        	<h3>Liste des joueurs</h3>
        	
        	<ul>
        	{% for user in lobby.users %}
        		<li>{{ user.username }}</li>	
        	{% endfor %}
        	</ul>
        	<p>{{ lobby.waitingUsers }} joueur en attente.
        	{% if app.user.username == lobby.hostUsername %}
        	    {% if lobby.playerNumber < 4 %}
        		<a class="btn waves-effect waves-light blue lighten-2" href="{{ path('core_lobby_addplayer', {'lobbyId' : lobby.id}) }}">
        			Ajouter un joueur<i class="material-icons right">add</i></a>
        	    {% endif %}
        	    {% if lobby.playerNumber > 2 %}
        			<a class="btn waves-effect waves-light red" href="{{ path('core_lobby_removeplayer', {'lobbyId' : lobby.id}) }}">
        			Retirer un joueur<i class="material-icons right">remove</i></a>
        	    {% endif %}
        		</p>
        		<a class="btn waves-effect waves-light pink darken-3" href="{{ path('core_lobby_deletelobby', {'lobbyId' : lobby.id}) }}">
        			Supprimer le lobby<i class="material-icons right">delete</i></a>
        		<a class="btn waves-effect waves-light {% if lobby.waitingUsers > 0 %}disabled{% endif %}" href="{{ path('loveletter_default_newgame', {'lobbyId' : lobby.id}) }}">
        			Lancer la partie<i class="material-icons right">send</i></a>
        	{% endif %}
	{% else %}
        	<a class="btn waves-effect waves-light" href="{{ path('loveletter_default_view', {'id' : lobby.gameId}) }}">
        			Rejoindre la partie<i class="material-icons right">send</i></a>
	{% endif %}
</div>

{% endblock %}

{% block footer %}
{% include 'CoreBundle:Parts:footer.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">

	var historySize = {{ lobby.HistorySize }};
	var x = setInterval(function() {
		
        $.ajax({
            url: '{{ path('core_lobby_update', {'lobbyId': lobby.id}) }}',
            dataType: 'json',
            success: function( data ) {
        			if(data['gameId'] != null)
        				window.location.href = "../../game/view/"+data['gameId'];
        			else if(data['historySize'] != historySize) {
        				window.location.href = "{{ path('core_lobby_lobby', {'lobbyId': lobby.id}) }}";
        		}},
            error: function( data ) {
            		window.location.href = "{{ path('core_index_index') }}";
            }
          });
	}, 5000);
	</script>
{% endblock %}